[libdefaults]
        default_realm = {{ samba.realm }}
        dns_lookup_realm = false
        dns_lookup_kdc = true

[realms]
{{ samba.realm }} = {
  kdc = {{ samba.host }}
  admin_server = {{ samba.host }}
}

[domain_realm]
  .{{ domain.fqdn }} = {{ samba.host }}
  {{ domain.fqdn }} = {{ samba.host }}