# Ansible configured 
deb [trusted=true] {{ repo.proto }}://{{ repo.host }}:{{ repo.port | default(80) }}/{{ repo.root }}/ {{ repo.flavors }} main universe multiverse restricted
deb [trusted=true] {{ repo.proto }}://{{ repo.host }}:{{ repo.port | default(80) }}/{{ repo.root }}/ {{ repo.flavors }}-updates main universe multiverse restricted
deb [trusted=true] {{ repo.proto }}://{{ repo.host }}:{{ repo.port | default(80) }}/{{ repo.root }}/ {{ repo.flavors }}-security main universe multiverse restricted
